html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header ul {
  list-style: none;
  padding: 0;
  /* background-color: red; */
}

header ul li {
  display: inline;
  /* background-color: aqua; */
}

#renderCanvas {
  width: 100%;
  height: 90%;
  /* touch-action: none; */
}